* {
    padding:0;
    margin:0;
    vertical-align: baseline;
    list-style:none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#top-menu {
    padding: 10px 20px 0px 20px;
    text-align: right;
    font-size: 0.9em;
    margin-top: 10px;
}

#top-menu > a, #top-menu > a:link, #top-menu > a:visited {
    text-decoration: none;
    padding: 5px 10px;
    color: #212121;
}

#top-menu > a:hover {
    text-decoration: underline;
}

#search-advanced {
    text-align:left;
    margin: 0 0 0 20px;
    position: absolute;
    padding: 20px;
}

#search > img {
    padding: 20px;
    width: 352px;
}

#search button {
    margin: 30px 7px 0px 0px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    color: #3c4043;
}

#search button:hover {
    margin: 30px 7px 0px 0px;
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
    box-shadow: 0px 1px #e7e7e7;
}

#search {
    text-align:center;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#input-text {
    border: 1px solid #dfe1e5;
    border-radius: 30px;
    width: 570px;
    height: 50px;
    align: center;
    padding: 10px;
    position: relative;
}

#input-text > input {
    border: none;
    width: 82%;
    margin: 2px 0px 0px 0px;
}

#input-text:hover {
    border: 1px solid #e7e7e7;
    box-shadow: 0px 0px 10px 0px #e7e7e7;
}

#input-text > img {
    padding: 0px 4px 0px 0px;
    margin: 0px 7px 0px 0px;
}

#input-text > input:focus {
    outline: none;
}

#formGroupExampleInput {
    padding: 7px;
    border: 1px solid black;
    margin-bottom: 20px;
    width: 300px;
}

.btn {
    width: 150px;
}

#advanced input {
    border: 1px solid #dfe1e5;
    width: 570px;
    margin: 2px 0px 10px 0px;
    padding: 3px;
}

#advanced input:focus {
    outline: none;
    border: 1px solid #498af2;
    box-shadow: inset 2px 2px 2px 0px #e7e7e7;
}

#advanced input[type='text'] {
    font-size: 13px;
    padding-left: 10px;
}

#advanced label {
    width: 171px;
    font-size: 0.8em;
}

#search-advanced hr {
    width: 800px;
    margin-left: -40px;
    margin-top: 30px;
}

.button {
    border: 1px solid #3079ed;
    border-radius: 3px;
    font-size: 0.7em;
    font-weight: bold;
    padding: 6px 10px;
    background-color: #4d90fd;
    color: #FFF;
    margin: 25px 0px 0px 625px;
}

.button:hover {
    border: 1px solid #2f5bb7;
    background-color: #4488f6;
}

#search-advanced > h1 {
    font-family: Arial;
    font-size: 1.3em;
    color: #d93025;
    font-weight: normal;
    margin-top: 30px;
}

#logo {
    float: left;
}